body {
    max-width: 800px;
    min-width: 500px;
    margin: auto;
    background-color: #F9FAF8;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: center;
    color: #36454F;
  }
  
  p, h3 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .packageInput {
    width: 50%;
    height: 70px;
    margin: auto;
  }
  
  .border {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
  }
  
  .result {
    width: 75%;
    height: 4em;
    margin: auto;
    margin-top: 8px;
    padding: 10px;
  }
  
  .result p {
    margin: 0;
    padding: 2px 0px 2px 4px; 
  }
  
  .delivered {
    background-color: #E5FDD9;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .inTransit {
    background-color: #D2E8F8;
  }
  
  .pending {
    background-color: #FFD9D9;
  }

  .packageInput {
    margin: auto;
  }